.failed {
    color: red;
}

.failure {
    color: darkorange;
}

.passed {
    color: green;
}

.wrap-text {
    white-space: pre-wrap;
}

.meta-info {
    color: lightgray;
    font-size: 1.2em;
}

body{
    margin:  5%;
}

h1{
    margin: 20px 0px;
}